<div class="container"> <br><br><br>
    <div class="row">

        <div class="card mb-3 p-3">

            <!-- Requirement Details -->
            <div class="text-end">
                <p>
                    <b>Added Date :</b> {{ RequirementDetails.Added_Date | date }}
                    <br>
                    {{ RequirementDetails.Added_Date | date:'h:mm a' }}
                </p>
            </div>

            <div class="row">
                <div class="col-4">
                    <p><b>Requirement Number :</b> {{RequirementDetails.Requirement_No}}</p>
                    <p><b>Client Name :</b> {{ RequirementDetails.Client_Name }}</p>
                    <p><b>Phone :</b> {{ RequirementDetails.Client_PhoneNo }}</p>
                    <p><b>Email :</b> {{ RequirementDetails.Client_Email }}</p>
                    <p><b>Address :</b> {{ RequirementDetails.Client_Address }}</p>
                    <p><b>GST Number :</b> {{ RequirementDetails.GST_No }}</p>
                    <p><b>Status :</b> {{ RequirementDetails.Status }}</p>
                </div>

                <!-- ✅ Items Table -->
                <div class="col-8">
                    <h5>Products</h5>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr No</th>
                                <th>Product Name</th>
                                <th>HSN Code</th>
                                <th>Quantity</th>
                                <th>Material</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of AllRequirementData; let j = index">
                                <td>{{ j + 1 }}</td>
                                <td>{{ item.Product_Name }}</td>
                                <td>{{ item.HSN_Code }}</td>
                                <td>{{ item.Product_Quantity }}</td>
                                <td>{{ item.Material_Type }}</td>
                                <td>
                                    <p style="cursor: pointer;" (click)="editrequirementitems(item.Item_Id)"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal1" title="Update a Product">
                                        <i class="fa-solid fa-pen-to-square"></i>

                                        <span style="padding-left: 5%; cursor: pointer;"
                                            (click)="deleteItem(item.Item_Id)" title="Delete a Product">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Requirement Items</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <form [formGroup]="RequirementitemUpdate">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="Product_Name">Product Name</label><br>
                                            <input formControlName="Product_Name" placeholder="Product Name"> <br>
                                        </div>
                                        <br>
                                        <div class="col-md-6">
                                            <label for="Material_Type">Material Type </label><br>
                                            <input formControlName="Material_Type" placeholder="Material Type"><br>
                                        </div><br>
                                        <div class="col-md-6">
                                            <label for="Product_Quantity">Product Quantity</label><br>
                                            <input formControlName="Product_Quantity" placeholder="Quantity"><br>
                                        </div>
                                        <br>
                                        <div class="col-md-6">
                                            <label for="HSN_Code">HSN Code</label> <br>
                                            <input formControlName="HSN_Code" placeholder="HSN Code"><br>
                                        </div>
                                    </div>
                                    <br>
                                    <button (click)="UpdateRequirementitems()">Update</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container">
            <br><br><br>

            <div class="row">
                <div class="text-center">
                    <h2>Requirement Details</h2>
                    <br>
                </div>
                <div class="card mb-3 p-3" *ngFor="let a of AllRequirementData; let i = index">

                    <div class="text-end">
                        <p>
                            <b>Added Date :</b> {{ a.Added_Date | date }}
                            <br>
                            {{ a.Added_Date | date:'h:mm a' }}
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <p><b>Client Name :</b> {{ a.Client_Name }}</p>
                            <p><b>Phone :</b> {{ a.Client_PhoneNo }}</p>
                            <p><b>Email :</b> {{ a.Client_Email }}</p>
                            <p><b>Address :</b> {{ a.Client_Address }}</p>
                            <p><b>GST Number :</b> {{ a.GST_No }}</p>
                            <p><b>Status :</b> {{ a.Status }}</p>
                        </div>

                        <div class="col-8">
                            <h5 class="mb-2">Products</h5>

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            <th>Product Name</th>
                                            <th>HSN Code</th>
                                            <th>Product Quantity</th>
                                            <th>Material Type</th>
                                            <th>Design File</th>
                                            <th>PDF File</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let item of a.items; let j = index">
                                            <td>{{ j + 1 }}</td>
                                            <td>{{ item.Product_Name }}</td>
                                            <td>{{ item.HSN_Code }}</td>
                                            <td>{{ item.Product_Quantity }}</td>
                                            <td>{{ item.Material_Type }}</td>
                                            <td>Download Design File</td>
                                            <td>Download PDF File</td>

                                            <td> <a type="button" (click)="editrequirementitems(item.Item_Id)"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal1"
                                                    title="Edit a Requirement Items">
                                                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                                </a>
                                                <span style="margin-left: 5%;">
                                                    <a (click)="deleteItem(item.Item_Id)" type="button"
                                                        title="Delete a Requirement items">
                                                        <i class="fa-solid fa-trash-can "></i>
                                                    </a>
                                                </span>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <p class="mt-2">
                        <b>Updated Date :</b>
                        {{ a.Updated_Date | date }} |
                        {{ a.Updated_Date | date:'hh:mm:ss a' }}
                    </p>

                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Requirement Items</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
<form [formGroup]="RequirementitemUpdate">

  <input formControlName="Product_Name" placeholder="Product Name">
  <input formControlName="Material_Type" placeholder="Material Type">
  <input formControlName="Product_Quantity" placeholder="Quantity">
  <input formControlName="HSN_Code" placeholder="HSN Code">

  <button (click)="UpdateRequirementitems()">Update</button>

</form>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->

        <!-- <div class="text-center">
            <h2>Requirement Details</h2>
            <br>

        </div>
        <div class="card" *ngFor="let a of AllRequirementData, let i= index">
            <div class="text-end">
                <p> <b>Added Date : </b> {{ a.Added_Date | date }} <br> {{a.Added_Date | date:'h:mm a' }}</p>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Client Name : {{a.Client_Name}}</p>
                    <p>Product Name : {{a.items.Product_Name}}</p>
                    <p>Phone No : {{a.Client_PhoneNo}}</p>
                    <p>Email : {{a.Client_Email}}</p>
                    <p>Material Name : {{a.Material_Type}}</p>
                    <p>Product Quantity : {{a.Product_Quantity}}</p>
                    <p>Client Address : {{a.Client_Address}}</p>
                    <p>Status : {{a.Status}}</p>
                    <p>Design File : {{a.Design_File}}</p>
                    <p>PDF Design Fie : {{a.PDFDesignfile}}</p>

                    <p>Updated Date : {{a.Updated_Date | date}} <br>
                        <span>Updated Time : </span> {{a.Updated_Date | date :'hh:mm:ss:a'}}
                    </p>
                </div><br>

                <div class="col-7"><br><br>

                    <div class="card p-2" *ngIf="designFileUrl">
  <iframe
    [src]="designFileUrl"
    width="100%"
    height="550"
    style="border:none;">
  </iframe>

  <div class="text-center mt-2">
    <a
      [href]="AllRequirementData[0].PDFDesignfile"
      download
      class="btn btn-primary btn-sm">
      Download PDF
    </a>
  </div>
</div>

                    <div *ngIf="designFileUrl">
                        <iframe [src]="designFileUrl | safeurlpipe" width="100%" height="1000px" frameborder="0">
                        </iframe>
                    </div>
                </div><br>
            </div>


        </div> -->
    </div>
</div>