<!-- Navbar -->
<br>
<br>
<br>
<nav class="navbar navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand"> <img src="assets/logo.png" class="img elevation-2" alt="User Image">
      <span style="margin-left: 50px;"> {{employeedata?.Role}}</span> </a>

    <h3 *ngIf="isManager">Manager Dashboard</h3>
    <h3 *ngIf="isQC">QC Dashboard</h3>
    <h3 *ngIf="isEngineer">Engineer Dashboard</h3>
    <h3 *ngIf="isDispatchManager">Dispatch Manager Dashboard</h3>

    <li class="nav-item dropdown">
      <!-- <button class="btn btn-outline-danger position-relative">
        🔔 Notifications
        <span class="badge bg-danger position-absolute top-0 start-100">
          {{ alertCount }}
        </span>
      </button> -->

      <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="User Details">
        <i class="fa-regular fa-circle-user fa-xl" style="color: #ffffff;"></i> {{employeedata?.Name}}
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li>
          <button class="dropdown-item" title="View Employee Details" class="navbar-toggler" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation">
            Details <span class="navbar-toggler-icon"></span>
          </button>
        </li>
        <li><a class="dropdown-item" href="#" (click)=" Logout()">LogOut <i class="fa-solid fa-power-off fa-xl"></i>
          </a></li>
      </ul>
    </li>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Employee Details</h5>
        <button type="button" class="btn-close" data-bs-theme="dark" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <div class="text-center mb-3">
          <!-- <i class="fa-regular fa-circle-user fa-4x"></i> -->
          <h5 class="mt-2">{{ employeedata?.Name }}</h5>
          <span class="badge bg-primary"> <b>{{ employeedata?.Role }}</b> </span>
        </div>

        <!-- <p> Employee Name : <b>{{employeedata?.Name}}</b> </p> -->
        <p> Phone No : <b>{{employeedata?.PhoneNo}}</b> </p>
        <p> Email : <b>{{employeedata?.Email}}</b> </p>
        <p> Username : <b>{{employeedata?.Username}}</b> </p>
        <p> Password : <b>{{employeedata?.Password}}</b> </p>
        <!-- <p> Role : <b>{{employeedata?.Role}}</b> </p> -->
        <p> Address : <b>{{employeedata?.Address}}</b> </p>
        <p> Added Date : <b>{{employeedata?.Added_Date | date}}</b> <br> {{employeedata?.Added_Date | date :'hh:mm:ss a'}}
        </p>
        <p> Updated Date : <b>{{employeedata?.Updated_Date | date}}</b> <br> {{employeedata?.Updated_Date | date
          :'hh:mm:ss a'}}</p>
        <p> Employee Status : <b>{{employeedata?.Status}}</b> </p>

        <!-- <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->


      </div>
    </div>
  </div>

  <ul class="nav justify-content-center" *ngIf="isManager || isDispatchManager">

    <li class="nav-item"></li>
    <li class="nav-item"></li>
    <li class="nav-item"></li>

    <li class="nav-item" *ngIf="isManager">
      <a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/ManagerDashboard/Machine']">Machine</a>
    </li>

    <li class="nav-item" *ngIf="isManager">
      <a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/ManagerDashboard/Material']">Material</a>
    </li>

    <li class="nav-item" *ngIf="isManager">
      <a class="nav-link active" href="#" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/ManagerDashboard/WorkOrder']">Work Order</a>
    </li>

    <!-- <li class="nav-item" *ngIf="isDispatchManager">
      <a class="nav-link active" href="#" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/DispatchDashboard/WorkOrder']">Work Order</a>
    </li> -->

    <!-- <li class="nav-item" *ngIf="isDispatchManager && challanAllowed"> -->

    <!-- <li class="nav-item" *ngIf="isDispatchManager">
      <a href="#" class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/DispatchDashboard/DeliveryChallan']"> Challan</a>
    </li> -->

    <!-- <span *ngIf="alertCount > 0" class="badge bg-danger start-100">
      {{ alertCount }}
    </span> -->

    <!-- <button class="btn btn-outline-danger position-relative">
      🔔 Notifications
      <span class="badge bg-danger position-absolute top-0 start-100">
        {{ alertCount }}
      </span>
    </button> -->

  </ul>
</nav>

<!-- /.navbar -->