<div class="wrapper">
    <br><br><br>
    <div class="container "><br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Admin Department</h5> <br>
                        <p class="card-text">Click to Open a Admin Dashboard.</p>
                        <div class="text-end">
                            <button class="btn btn-outline text-light" title="Open Super Admin Login Page"
                                [routerLink]="['/login']">Click Here</button>
                        </div>
                    </div>
                </div>
                <br>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Accountant Department</h5> <br>
                        <p class="card-text">Click to Open a Accountant Dashboard.</p>
                        <div class="text-end">
                            <button class="btn btn-outline text-light" title="Open Accountant Login Page"
                                [routerLink]="['/login']">Click Here</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Manager Department</h5> <br>
                        <p class="card-text">Click to Open a Manager Dashboard.</p>
                        <div class="text-end">
                            <button class="btn btn-outline text-light" title="Open Manager Login Page"
                                [routerLink]="['/login']">Click Here</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Work Department</h5> <br>
                        <p class="card-text">Click to Open a Engineer, QC, Dispatch Manager Dashboard .</p>
                        <div class="text-end">
                            <button class="btn btn-outline text-light" title="Open Engineer/QC Login Page"
                                [routerLink]="['/login']">Click Here</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <br>
    </div>
</div>