<div class="container main">
    <br><br><br><br>
    <div class="text-center">
        <h2>All Machine Information </h2>
    </div>
    <br><br>

    <div class="text-end">
        <button type="button" class="btn text-light btn-lg btt" data-bs-toggle="modal" data-bs-target="#exampleModal"
            title="Add Machines">
            Add Machine <i class="fa-solid fa-square-plus"></i>
        </button> <br>
    </div>
    <br>
    <br>
    <label for="">Download a Machine Excelsheet</label>
    <br>
    <button class="btn btn-success" (click)="exportexcel()" title="Download excelfile">Download Excelsheet</button>
    <br> <br>
    <table class="table table-striped" id="excel-table">
        <thead>
            <tr>
                <th>Machine ID</th>
                <th>Machine Code</th>
                <th>Machine Name</th>
                <th>Machine Number</th>
                <th>Date</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let machine of ALLMachine | paginate:{itemsPerPage : 10, currentPage:pro}, let i = index">
                <td [routerLink]="['/Home/MachinesDetails',machine.Machine_id]" title="View Information" class="info">
                    {{machine.Machine_id }}</td>
                <td>{{ machine.Machine_Code }}</td>
                <td>{{ machine.Machine_Name }}</td>
                <td>{{ machine.Machine_Number }}</td>
                <td>{{ machine.Added_Date | date }} <br> {{machine.Added_Date | date:'h:mm a' }}</td>
                <td>
                    <span [ngClass]="{
                       'text-success': machine.Machine_Status == 0,
                       'text-danger': machine.Machine_Status == 1,
                       'text-warning': machine.Machine_Status == 2
                     }">
                        <i class="fa-solid fa-circle fa-sm"></i> {{
                        machine.Machine_Status == 0
                        ? 'Available'
                        : machine.Machine_Status == 1
                        ? 'Busy'
                        : 'Allocated'
                        }}
                    </span>
                </td>

                <td> <a type="button" (click)="EditMachine(machine.Machine_id)" data-bs-toggle="modal"
                        data-bs-target="#exampleModal1" title="Edit a Machine">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                    </a>
                </td>

                <td><a type="button" (click)="DeleteMachine(machine['Machine_id'])" title="Delete a Machine"><i
                            class="fa-regular fa-trash-can fa-lg"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <pagination-controls (pageChange)=" pro = $event "
            style="background-color: #252847 !important; z-index: -2 !important;"></pagination-controls>
    </div>
    <br>
    <br>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Machine</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <form [formGroup]="AddMachineForm">

                            <label for="Machine_Name">Machine Name</label>
                            <input type="text" formControlName="Machine_Name" class="form-control"
                                placeholder="Enter Machine Name">
                            <br>

                            <div class="mb-3">
                                <label for="Machine_Status" class="form-label">Machine Status</label>
                                <select class="form-select" id="Machine_Status" formControlName="Machine_Status"
                                    (change)="ToggleStatus($event)">
                                    <option [value]="0">Available</option>
                                    <option [value]="1">Busy</option>
                                    <option [value]="2">Allocated</option>
                                </select>
                            </div>
                            <br>
                            <button class="btn btn-success btn-lg mb-4" (click)="AddMachine()">Add Machine</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Machine</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <br>
                        <form [formGroup]="EditMachineForm">

                            <label for="Machine_Name">Machine Name</label>
                            <input type="text" formControlName="Machine_Name" class="form-control"
                                placeholder="Machine_Name">
                            <br>

                            <label for="Machine_Code">Machine Code</label>
                            <input type="text" formControlName="Machine_Code" class="form-control"
                                placeholder="Machine_Code">
                            <br>

                            <label for="Machine_Number">Machine Name</label>
                            <input type="text" formControlName="Machine_Number" class="form-control"
                                placeholder="Machine_Number">
                            <br>

                            <div class="mb-3">
                                <label for="Machine_Status" class="form-label">Machine Status</label>
                                <select class="form-select" id="Machine_Status" formControlName="Machine_Status"
                                    (change)="updateStatus($event)">
                                    <option [value]="0">Available</option>
                                    <option [value]="1">Busy</option>
                                    <option [value]="2">Allocated</option>
                                </select>
                            </div>
                            <br>
                            <button class="btn btn-success btn-lg mb-4" (click)="UpadateMachine()">Update
                                Machine</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>